<h3 class="start">e-WayBill Entry From</h3>

<section class="part1">
    <div class="row">
        <div class="col-md-6">
            <h5 class="line-one" style="color: #fff">Transcation Details</h5></div>
        <div class="col-md-6 form-inline">
            <form class="line1">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm " type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</section>
<!-- end -->
<section class="part2">
    <ul class="form-inline partision"><span class="type">Supply Type</span>

        <li>
            <input class="rdo" type="radio" name="gender" value="male"> Outward
            <li>
                <li>
                    <input type="radio" name="gender" value="female">Inward
                    <br>
                </li><span class="sub">Sub Type</span>
                <li>
                    <input type="radio" name="gender" value="other"> Supply
                    <br> </li>
                <li>
                    <input type="radio" name="gender" value="male">Export
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="female"> Job Work
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="other"> SKD/CKD/Lots
                    <br> </li>
                <li>
                    <input type="radio" name="gender" value="male"> Recipient Not Known
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="female"> For Own Use
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="female"> For Own Use
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="other"> Exhibition or Fairs
                    <br> </li>
                <li>
                    <input type="radio" name="gender" value="female"> Line Sales
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="other"> Others
                    <br> </li>
    </ul>
</section>
<!-- end -->
<section class="part3 form-inline">
    <ul class="one">
        <li class="first">Document Type
            <select type="select" class="form-control" formControlName="docType">
                <option value="INV">Document Type</option>
                <option value="INV">Saab</option>
                <option value="INV">Fiat</option>
                <option value="INV">Audi</option>
            </select>
        </li>
        <li class="second">Document No:
            <input type="text" name=" ">
        </li>

        <li class="third">Document Date:
            <input type="text" name=" ">
        </li>

        <li class="fourth">Transaction Type:
            <select type="select" class="form-control">
                <option value="INV">Regular</option>
                <option value="INV">Bill To - Ship to</option>
                <option value="INV">Bill Form-Dispatch Form</option>
                <option value="INV">Combination of 2 and 3</option>
            </select>
        </li>
    </ul>
</section>
<!-- end -->
<section class="part4">
    <div class="row">
        <div class="col-md-6">
            Bill From</div>
        <div class="col-md-6">Dispatch From</div>
    </div>
</section>
<!-- end -->
<section class="part5">
    <div class="row">
        <div class="col-md-6">
            <p class="name">Name :
                <input type="text" name=" " value="HOLISOL LOGISTICS PRIVATELIMITED">
            </p>
            <p class="noumber">GSTIN :
                <input type="text" name=" " value="29AACCH2364P1Z3">
            </p>
            <p class="form-inline">State :
                <select type="select" class="form-control" formControlName="docType">
                    <option value="INV">KARNATAKA</option>
                    <option value="INV">Saab</option>
                    <option value="INV">Fiat</option>
                    <option value="INV">Audi</option>
                </select>
            </p>
        </div>
        <div class="col-md-6">
            <p class="name">Address :
                <input type="text" name=" " value="Plot No 48 Road No 3 Jigani Ho">
            </p>
            <p class="ad">
                <input type="text" name=" " value="Industrial area 2nd  PhaseAnekal taluk">
            </p>
            <p class="name">Place :
                <input class="input" type="text" name=" " value="Bengaluru (Bangalore) Rural">
            </p>
            <ul class="box">
                <li>Pincode:
                    <input type="text" name=" " value="560106"> </li>
            </ul>
        </div>
    </div>
</section>
<!-- end -->
<section class="part4">
    <div class="row">
        <div class="col-md-6">
            Bill To</div>
        <div class="col-md-6">Ship To</div>
    </div>
</section>
<!-- end -->
<section class="part5">
    <div class="row">
        <div class="col-md-6">
            <p class="name">Name :
                <input type="text" name=" " value="HOLISOL LOGISTICS PRIVATELIMITED">
            </p>
            <p class="noumber">GSTIN :
                <input type="text" name=" " value="29AACCH2364P1Z3">
            </p>
            <p class="form-inline">State :
                <select type="select" class="form-control" formControlName="docType">
                    <option value="INV">KARNATAKA</option>
                    <option value="INV">Saab</option>
                    <option value="INV">Fiat</option>
                    <option value="INV">Audi</option>
                </select>
            </p>
        </div>
        <div class="col-md-6">
            <p class="name">Address :
                <input type="text" name=" " value="Plot No 48 Road No 3 Jigani Ho">
            </p>
            <p class="ad">
                <input type="text" name=" " value="Industrial area 2nd  PhaseAnekal taluk">
            </p>
            <p class="name">Place :
                <input class="input" type="text" name=" " value="Bengaluru (Bangalore) Rural">
            </p>
            <ul class="box">
                <li>Pincode:
                    <input type="text" name=" " value="560106"> </li>
            </ul>
        </div>
    </div>
</section>
<!-- end -->
<section class="part4">
    <div class="col-md-12">
        Bill To</div>
</section>

<!-- end -->

<section class="part6">
    <form class="form-horizontal">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead" style="text-align:center">
                    <tr>
                        <th style="width:40px;font-size: 14px;">Product Name</th>
                        <th style="width:40px;font-size: 14px;">Description</th>
                        <th style="width:40px;font-size: 14px;">HSN</th>
                        <th style="width:40px;font-size: 14px;">Quantity</th>
                        <th style="width:40px;font-size: 14px;">Unit</th>
                        <th style="width:40px;font-size: 14px;">Value/Taxtablevalue</th>
                        <th style="width:40px; font-size: 14px;">CGST+SGST Rate(%)</th>
                        <th style="width:40px;font-size: 14px;">IGST Rate(%)</th>
                        <th style="width:40px;font-size: 14px;">CESS ADval Rate(%)</th>
                        <th style="width:40px;font-size: 14px;">CESS non adval Rate(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input style="width:120px;" type='text' value='Name' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:100px;" type='button' value='' /> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
    <!-- second form -->
    <form class="form-horizontal">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th style="width:40px;font-size: 14px;">Total Taxtable Amount</th>
                        <th style="width:40px;font-size: 14px;">CGST Amount</th>
                        <th style="width:40px;font-size: 14px;">SGST Amount/th>
                            <th style="width:40px;font-size: 14px;">IGST Amount</th>
                            <th style="width:40px;font-size: 14px;">CESS Advol Amount</th>
                            <th style="width:40px;font-size: 14px;">CESS non Advol Amount</th>
                            <th style="width:40px;font-size: 14px;">Other Amount</th>
                            <th style="width:40px;font-size: 14px;">Total inv.Amount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input style="width:120px;" type='text' value='Name' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>
                        <td>
                            <input style="width:120px;" type='text' value='' /> </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </form>

</section>
<!-- end -->

<!-- end -->
<section class="part4">
    <div class="col-md-12">
        Transportation Details</div>
</section>
<!-- end -->
<section class="last-second">
    <form class="form-inline">
        <div class="form-group">
            <label for="inputPassword6">Transporter Name </label>
            <input type="password" id="inputPassword6" class="form-control mx-sm-4" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted">
          </small>
        </div>
        <div class="form-group two">
            <label for="inputPassword6">Transporter ID</label>
            <input type="password" id="inputPassword6" class="form-control mx-sm-4" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted">
            </small>
        </div>

        <div class="form-group two">
            <label for="inputPassword6">Approximate Distance (in KM)</label>
            <input type="password" id="inputPassword6" class="form-control mx-sm-4" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted">
            </small>
        </div>
    </form>
</section>
<!-- end -->
<section class="part4">
    <div class="col-md-12 PART-B">
        PART-B</div>
</section>
<!-- end -->
<section class="part9">
        <div class="form-check-inline"> 
            <p class="noumber">Mode:</p>         
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Road
                </label>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Rail
                </label>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" disabled>Air
                </label>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" disabled>Ship
                </label>
        </div>
   <section class="exception"> 
        <div class="form-check-inline"> 
            <p class="noumber2">Vehicle Type:</p>         
            <label class="form-check">
                <input type="radio" class="form-check-input" name="optradio">Regular
            </label> 
            <label class="form-check">
                <input type="radio" class="form-check-input text" name="optradio">Over Dimensional Cargo
            </label>
        </div>
</section>

<section class="part10">
    <p class="num">Vechicle No :
        <input class="box21" style="width: 265px; margin-left: 80px;" type="text" name=" " value=" ">
    </p>
</section>
<section class="part10">
    <p class="num2">Transporter Doc No& Date:
        <input class="box1" style="width: 260px;"  type="text" name=" " value="">
    </p>
</section>
<div class="last-section2">
    <button type="button" class="btn btn-primary">Preview</button>
    <button type="button " class="btn btn-primary blue">Submit</button>
    <button type="button " class="btn btn-danger blue">Exit</button>
</div> 
</section>
