<h3 class="start">e-WayBill Entry From</h3>

<section class="part1">
    <div class="row">
        <div class="col-md-6">
            <h5 class="line-one" style="color: #fff">Transcation Details</h5></div>
        <div class="col-md-6 form-inline">
            <form class="line1">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm " type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>
</section>
<!-- end -->
<section class="part2">
    <ul class="form-inline partision"><span class="type">Supply Type</span>

        <li>
            <input class="rdo" type="radio" name="gender" value="male"> Outward
            <li>
                <li>
                    <input type="radio" name="gender" value="female">Inward
                    <br>
                </li><span class="sub">Sub Type</span>
                <li>
                    <input type="radio" name="gender" value="other"> Supply
                    <br> </li>
                <li>
                    <input type="radio" name="gender" value="male">Export
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="female"> Job Work
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="other"> SKD/CKD/Lots
                    <br> </li>
                <li>
                    <input type="radio" name="gender" value="male"> Recipient Not Known
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="female"> For Own Use
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="female"> For Own Use
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="other"> Exhibition or Fairs
                    <br> </li>
                <li>
                    <input type="radio" name="gender" value="female"> Line Sales
                    <br>
                </li>
                <li>
                    <input type="radio" name="gender" value="other"> Others
                    <br> </li>
    </ul>
</section>
<!-- end -->
<section class="part3 form-inline">
    <ul class="one">
        <li class="first">Document Type
            <select type="select" class="form-control" formControlName="docType">
                <option value="INV">Document Type</option>
                <option value="INV">Saab</option>
                <option value="INV">Fiat</option>
                <option value="INV">Audi</option>
            </select>
        </li>
        <li class="second">Document No:
            <input type="text" name=" ">
        </li>

        <li class="third">Document Date:
            <input type="text" name=" ">
        </li>

        <li class="fourth">Transaction Type:
            <select type="select" class="form-control">
                <option value="INV">Regular</option>
                <option value="INV">Bill To - Ship to</option>
                <option value="INV">Bill Form-Dispatch Form</option>
                <option value="INV">Combination of 2 and 3</option>
            </select>
        </li>
    </ul>
</section>
<!-- end -->
<section class="part4">
    <div class="row">
        <div class="col-md-6">
            Bill From</div>
        <div class="col-md-6">Dispatch From</div>
    </div>
</section>
<!-- end -->
<section class="part5">
    <div class="row">
        <div class="col-md-6">
            <p class="name">Name :
                <input type="text" name=" " value="HOLISOL LOGISTICS PRIVATELIMITED">
            </p>
            <p class="noumber">GSTIN :
                <input type="text" name=" " value="29AACCH2364P1Z3">
            </p>
            <p class="form-inline">State :
                <select type="select" class="form-control" formControlName="docType">
                    <option value="INV">KARNATAKA</option>
                    <option value="INV">Saab</option>
                    <option value="INV">Fiat</option>
                    <option value="INV">Audi</option>
                </select>
            </p>
        </div>
        <div class="col-md-6">
            <p class="name">Address :
                <input type="text" name=" " value="Plot No 48 Road No 3 Jigani Ho">
            </p>
            <p class="ad">
                <input type="text" name=" " value="Industrial area 2nd  PhaseAnekal taluk">
            </p>
            <p class="name">Place :
                <input class="input" type="text" name=" " value="Bengaluru (Bangalore) Rural">
            </p>
            <ul class="box">
                <li>Pincode:
                    <input type="text" name=" " value="560106"> </li>
            </ul>
        </div>
    </div>
</section>
<!-- end -->
<section class="part4">
    <div class="row">
        <div class="col-md-6">
            Bill To</div>
        <div class="col-md-6">Ship To</div>
    </div>
</section>
<!-- end -->
<section class="part5">
    <div class="row">
        <div class="col-md-6">
            <p class="name">Name :
                <input type="text" name=" " value="HOLISOL LOGISTICS PRIVATELIMITED">
            </p>
            <p class="noumber">GSTIN :
                <input type="text" name=" " value="29AACCH2364P1Z3">
            </p>
            <p class="form-inline">State :
                <select type="select" class="form-control" formControlName="docType">
                    <option value="INV">KARNATAKA</option>
                    <option value="INV">Saab</option>
                    <option value="INV">Fiat</option>
                    <option value="INV">Audi</option>
                </select>
            </p>
        </div>
        <div class="col-md-6">
            <p class="name">Address :
                <input type="text" name=" " value="Plot No 48 Road No 3 Jigani Ho">
            </p>
            <p class="ad">
                <input type="text" name=" " value="Industrial area 2nd  PhaseAnekal taluk">
            </p>
            <p class="name">Place :
                <input class="input" type="text" name=" " value="Bengaluru (Bangalore) Rural">
            </p>
            <ul class="box">
                <li>Pincode:
                    <input type="text" name=" " value="560106"> </li>
            </ul>
        </div>
    </div>
</section>
<!-- end -->
<section class="part4">
    <div class="col-md-12">
        Bill To</div>
</section>

<!-- end -->


<section class="part6">
    <form class="form-horizontal">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light" style="text-align:center">
                <tr>
                    <th style="width:130px;">Product Name</th>
                    <th style="width:300px;">Description</th>
                    <th style="width:10px;">HSN</th>
                    <th style="width:180px;">Quantity</th>
                    <th style="width:180px;">Unit</th>
                    <th style="width:200px;">Value/Taxtablevalue</th>
                    <th style="width:10px;">CGST+SGST Rate(%)</th>
                    <th style="width:180px;">IGST Rate(%)</th>
                    <th style="width:200px;">CESS ADval Rate(%)</th>
                    <th style="width:10px;">CESS non adval Rate(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input style="width:120px;" type='text' value='Name' /> </td>
                    <td>
                        <input style="width:120px;" type='text' value='11-12-2018' /> </td>
                    <td>
                        <input style="width:120px;" type='text' value='11-12-2018' /> </td>
                    <td>
                        <input style="width:120px;" type='text' value='11-12-2018' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='Cash' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='20000' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='15000' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='-5000' /> </td>
                    <td>
                        <input style="width:110px;" type='button' value='Delete' /> </td>
                </tr>
            </tbody>
          </table>
        </div>
      </form>
      
</section> 
<!-- end -->

<section class="part7">
    <form class="form-horizontal">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
                <tr>
                    <th style="width:130px;">Product Name</th>
                    <th style="width:300px;">Description</th>
                    <th style="width:10px;">HSN</th>
                    <th style="width:180px;">Quantity</th>
                    <th style="width:180px;">Unit</th>
                    <th style="width:200px;">Value/Taxtablevalue</th>
                    <th style="width:10px;">CGST+SGST Rate(%)</th>
                    <th style="width:180px;">IGST Rate(%)</th>
                    <th style="width:200px;">CESS ADval Rate(%)</th>
                    <th style="width:10px;">CESS non adval Rate(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input style="width:120px;" type='text' value='Name' /> </td>
                    <td>
                        <input style="width:120px;" type='text' value='11-12-2018' /> </td>
                    <td>
                        <input style="width:120px;" type='text' value='11-12-2018' /> </td>
                    <td>
                        <input style="width:120px;" type='text' value='11-12-2018' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='Cash' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='20000' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='15000' /> </td>
                    <td>
                        <input style="width:110px;" type='text' value='-5000' /> </td>
                    <td>
                        <input style="width:110px;" type='button' value='Delete' /> </td>
                </tr>
            </tbody>
          </table>
        </div>
      </form>
      
</section> 
