
h3.start {
    text-align: center;
}
section.part1 {
    background-color: #16b6ea;
}
form.line1 {
    margin-left: 51%;
}
section.part2 {
    margin-top: 11px;
    margin-left: -38px;
    border: 1px solid;
}
ul.form-inline.partision {
    list-style-type: none;
    margin-top: 7px;
}
li {
    margin-left: 5px;
}
span.sub {
    margin-left: 7px;
    background-color: #cedade;
}
span.type {
    background-color: #cedade;
}
ul.one {
    list-style-type: none;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-left: -43px;
}
li.second {
    margin-left: 25px;
}
li.third {
    margin-left: 23px;
}
li.fourth {
    margin-left: 43px;
}
/* end part3 */
section.part4 {
    background-color: #16b6ea;
    color: #fff;
    font-size: 20px;
}
ul.box {
    list-style-type: none;
    float: left;
    display: inline-flex;
    margin-left: -40px;
}
/* end */
section.part5 {
    margin-top: 16px;
}
select.form-control {
    margin-left: 11px;
}
p.ad {
    margin-left: 70px;
}
input.input {
    margin-left: 21px;
}
select.form-inline {
    width: 98px;
    height: 30px;
}
input[type="text"] {
    width: 51%;
}
.form-group.two {
    margin-left: 5%;
}
section.last-second {
    margin-top: 35px;
}
.col-md-12.PART-B {
    margin-top: 21px;
    font-size: 20px;
}
section.part9 {
    margin-top: 30px;
}
button.btn.btn-primary.blue {
    margin-left: 24px;
}
button.btn.btn-danger.blue {
    margin-left: 24px;
}